<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP App | Login Page</title>
</head>
<body>
    <h1>NLP App</h1>
    <h3>Login Here</h3>
    <form>
        <label>Email</label><br>
        <input type="email"><br>
        <label>Password</label><br>
        <input type="password"><br><br>
        <input type="submit" value="Login"><br>
    </form>
    <p>Not a member? <a href="/register">Register Here</a></p>
</body>
</html>